/* 
1.Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Visuales
5 Otros 
*/
:root{
    /* Colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-azul: #1A9AF7 ;
    --soft-blue: #E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
    /* Fuentes */
    --font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
	--size-300:300;
	--size-400:400;
	--size-500:500;
	--size-700:700;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}
.header--title-container{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem ;
    text-align: center;
    align-self: center;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 2.5rem;
    font-size:1.4rem;
    font-weight: 50rem;
    line-height: 1.8rem;
    color: var(--soft-orange)
}

.header--button {
    position: absolute;
    top: 270px;
    display: block;
    left: calc(50% - 114.5px);
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
}
/*First header part*/
main{
    width:100%;
    height: auto;
    background-color: var(--off-white);
    min-width: 320px;
}
.main-exchange--container{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange--container h2,p{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange--container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/images/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange--container h2{
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: bold ;
    line-height: 2.6rem;
    color: var(--black); 
}
.main-exchange--container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
}
/*First header part*/
/*Table header*/
.main-currency-table, .main-comission-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;    
}
.main-currency-table .currency-table-title,
.main-comission-table .comission-table-title{
    margin-bottom: 15px ;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    display: flex;
    justify-content: flex-start;
}
.main-comission-table .comission-table-title{
    color: var(--secondary-azul);
}
.currency-table-container,.comission-table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table-container table,
.comission-table-container table{
    width: 100%;
    height: 100%;
}
.currency-table-container td,
.comission-table-container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table-container .table__top-left, 
.comission-table-container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table-container .table__top-right,
.comission-table-container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table-container .table__bottom-left,
.comission-table-container .table__bottom-left{
    border-radius: 0 0 0 15px ;
}
.currency-table-container .table__bottom-right,
.comission-table-container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
.currency-table-container .table-right,
.comission-table-container .table-right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table-container .down, .currency-table-container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .up{
    background-image: url("../assets/icons/trending-up.svg");
}
.currency--table--date,
.comission--table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 12px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.comission--table--date{
    background-color: var(--soft-blue);
}
.currency--table--date p, .comission--table--date p{
    font-size:1.2rem;
    line-height: 0.5rem;
    color: var(--warm-black);
}
