.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.product-detail--card{
    margin: 15px 30px;
}
.plans-container--slider{
    justify-content: center;
}

.main--tables-container{
    display: flex;
    justify-content: center;
}


